body	{
	background-color: #ECE6D4;
	font-family: Arial, Verdana;
	font-size: 13px; 
	color: #2D476D;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

td	{
	font-family: Verdana, Arial;
	font-size: 13px;
	color: #2D476D;
}
	
td a	{
	color: #A80000;
	text-decoration: none;
}
	
td a:hover	{
	text-decoration: underline;
}

h1 {
	display: inline;
}

a.offline {
	color: #B9B9B9;
}

a.offlineVerkocht {
	color: #B9B9B9;
	text-decoration:line-through;
}

a.onlineVerkocht {
	text-decoration:line-through;
}

/*
Het maken van grayscale heb ik geleend van
http://demosthenes.info/blog/532/Convert-Images-To-Black-And-White-With-CSS
*/
img.imageUnavailable {
  opacity: 0.6; 
	filter: url(desaturate.svg#grayscale);
	filter: gray;
}

div.float_rechts {
	float: right;
}

/*
De onderstaande 3 style-definities heb ik geleend van :
http://web.enavu.com/tutorials/making-image-overlay-caption-using-css/
*/
div.wrapper{
	float:left; 				/* important */
	position:relative;	/* important(so we can absolutely position the description div */ 
}

div.description{
	position:absolute;	/* absolute position (so we can position it where we want)*/
	bottom:15px;					/* position will be on bottom */
	left:0px;
	width:100%;
	width:100%;
	/* styling bellow */
	background-color:white;
	font-size:15px;
	color:black;
	font-weight:bold;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

p.description_content{
	padding:10px;
	margin:0px;
	text-align:center;
}